.navbar {
  font-family:  "Trade Winds", system-ui;
  background: var(--color-bg-surface);
  border-bottom: 1px solid #2a2a2a;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-container {
  max-width: 1200px;
  margin: auto;
  padding: 0.8rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-logo {
  color: var(--color-primary);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

/* ☰ botón mobile */
.navbar-toggle {
  font-size: 1.6rem;
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

/* menú mobile */
.navbar-menu {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 70%;
  background: var(--color-bg-main);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 5rem 2rem;
  transition: right 0.3s ease;
}

.navbar-menu.open {
  right: 0;
}

.navbar-menu a {
  color: var(--color-text-main);
  text-decoration: none;
  font-size: 1.1rem;
}

.navbar-menu a.highlight {
  color: var(--color-primary);
  font-weight: 600;
}

/* ========================= */
/* DESKTOP                   */
/* ========================= */
@media (min-width: 768px) {
  .navbar-toggle {
    display: none;
  }

  .navbar-menu {
    position: static;
    height: auto;
    width: auto;
    flex-direction: row;
    padding: 0;
    background: none;
    gap: 2rem;
  }

  .navbar-menu a {
    font-size: 0.95rem;
    position: relative;
  }

  .navbar-menu a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--color-primary);
    transition: width 0.3s;
  }

  .navbar-menu a:hover::after {
    width: 100%;
  }
}
